/* *********************** */
/* styles pour le module d'édition des tables */

/* ********************** */
/* page edition.php      */
#tables_reference, #tables_codage, #tables_utilisateurs {
	margin: 12px 0;
	padding: 12px;
	border: 1px solid gray;
	width: 500px;
}

#tables_reference h2, #tables_codage h2 {
	margin:0;
}

#tables_reference h3, #tables_codage h3 {
	margin:0;
}

#tables_reference select, #tables_codage select {
	margin:0;
}

/* **************************** */
/* le selecteur de tables      */

#selector_container {
	border: 1px solid grey;
	min-width:800px;
}


.showHide {
padding: 0 25px;
font-size: 10px;
font-weight: bold;
padding: 0 9px 0 2px;
}



.level_div {
	float:left;
	margin:0 12px 0 0;
}


.edit_link, .select_link {
	font-size:10px;
	margin: 3px 0;
}

.hints {
	clear:both;
	background-color:	transparent;
	width			: 100%;
	padding: 18px 0 9px 0;
	font-size: 14px;
	font-weight:normal;
}

.hints_small {
	clear:both;
	background-color:	transparent;
	width			: 100%;
	padding: 18px 0 9px 0;
	font-size: 10px;
	font-weight:normal;
}



.hint_label {
font-weight: bold;
}

.hint_text {
font-style: italic;
}

/* **************************** */
/* l'éditeur de tables      */

#la_table td {
border-right: 1px solid grey;
}

.edit_row_even {
background-color: transparent;
}

.edit_row_odd {
background-color:	#E6E6E6;

}

.click_to_clear {
color:#CCC;
font-style:italic;
}

.filterField {
font-size:9px;
}


