/*Yann Laurent
Creation 21/09/2008
Style pour le module d'extraction
*/


#formSel{
	margin-left:5px;

	background:#E4E4E4;
	border:1px dotted #666666;

}
.listType{

}

.selType{
list-style:none;
}

#versionTemp{
	font-weight:bold;
	font-size:70%;
	margin-left:5px;
	width:800px;
	background:#CCCCCC;
	border:1px dotted #000000;

}

#selection{
	margin-left:5px;
	width:800px;
	background:#E4E4E4;
	border:1px dotted #666666;

}
.checkall{
	font-weight:bold;
	background:#CCCCCC;
}
.list{

}
.list td {
}
/* CSS for sc_filiere.php */
.sublist{
	background:#CCCCCC;
}
.sublist td {
	background:#FFF;
	border:1px dotted #000000;
	text-align:center;

}
.sublistF{
	width:90%;
	background:#CCCCCC;
	text-align:center;
}
.sublistF td {
	background:#FFF;
	text-align:center;
}
.tdFermer{
	cursor:pointer;

}
#listTableFil{
	border:2px solid #FFFFFF;
	width:780px;
	padding:0px;	
}
.ligneLTF{
	border:1px solid #FFFFFF;
}

.col1LTF{
	width:260px;
	background-color:#CCCCCC;
	text-align:center;
	vertical-align:top;
}
.col2LTF{
	width:260px;
	background-color:#FFFFFF;
	text-align:center;
	vertical-align:top;
}
.col3LTF{
	width:260px;
	background-color:#CCCCCC;
	text-align:center;
	vertical-align:top;
}

.TableFiliere{
	cursor: pointer;
}
/* ajout pour nouvelle version extraction */
#resultat{
	margin-left:5px;
	width:800px;
	background:#EDD7B7;
	border:1px dotted #666666;

}

#resumeChoix{
	margin-top: 24px;
	clear:both;
	width:800px;
	background:#FFF8A7;
	padding: 12px 6px;
	border: none;
	font-size:12px;

}
#runProcess{
	background:#FFF;
}
#resultfiliere{
	width:1024 px;
	background:#FFF;
}
#menuTab{
	font-size:80%;
	position:absolute;
	top:430px;
	left:5px;
	width:800px;
	background:#f8ea47;
	color:#FFFFFF;
	font-weight:bold;
	border:1px dotted #666666;
}
#listeTab{

}
/* Poisitionnement des onglets des filieres */
.criteresgen{
	position:absolute;
	top:460px;
	left:5px;
	background-color:#FFF8A7;
	visibility:hidden;
	width:800px;
}
.sscriteresgen{
	visibility:hidden;
}
.cateco{
	position:absolute;
	top:480px;
	left:5px;
	background-color:#FFF8A7;
	visibility:hidden;
	width:800px;
}
.cattroph{
	position:absolute;
	top:480px;
	left:5px;
	background-color:#FFF8A7;
	visibility:hidden;
	width:800px;
}
.colonnes{
	position:absolute;
	top:480px;
	left:5px;
	background-color:#FFF8A7 ;
	visibility:hidden;
	width:800px;
}
.especes{
	position:absolute;
	top:480px;
	left:5px;
	background-color:#FFF8A7 ;
	visibility:hidden;
	width:800px;
}

.regroupesp{
	position:absolute;
	top:480px;
	left:5px;
	background-color:#FFF8A7 ;
	visibility:hidden;
	width:800px;
}
.general{
	position:absolute;
	top:480px;
	left:5px;
	background-color:#FFF8A7 ;
	visibility:hidden;
	width:800px;
}
#voiresultat{
	position:absolute;
	top:580px;
	left:5px;
}
.visible{
	visibility:visible;
}
.ChoixChampComp {
	width:800px;
	background-color:#FFF8A7;
}
.CCCTable{
	vertical-align:text-top;
	border:1px dotted #666666;
	width:300px;
}
.CCCChamp{
	vertical-align:text-top;
	border:1px dotted #666666;
	width:800px;
}
/* CSS pour les tables contenant la liste des cat eco, troph et des especes */
#CEco{
	font-size:75%;
	text-align:left;
	vertical-align:top;
}
#CTro{
	font-size:75%;
	text-align:left;
	vertical-align:top;
}
.catitem{
	text-align:left;
	vertical-align:top;	
}
#espece{
	text-align:left;
	vertical-align:top;
}
#listeEspece{
	font-size:75%;
	text-align:left;
	vertical-align:top;
}
#Regroupt{
	font-size:75%;
	text-align:left;
	vertical-align:top;
}
#listeRegroupt{
	font-size:75%;
	text-align:left;
	vertical-align:top;
}
#affresultat{
	background-color: #f9f5cc;
}
.edit_row_even {
	font-size:75%;
	background-color: transparent;
}

.edit_row_odd {
	font-size:75%;
	background-color:	#E6E6E6;

}
.affresultattitre{
	border-bottom:2px dashed #666;
	font-weight:bold;
	font-size:75%;
	vertical-align:top;
}
.regroupement{
	border-left-style:dotted;
	border-left-color:#666;
	font-size:75%;
	vertical-align:top;
	text-align:left;
}
#changeSel{
	text-align:right;
	width:200px;
	padding-left:50px;
}
#filEncours{
	width:800px;
	font-size:13px;
}
#filEncoursTit {
	font-weight:bold;
}
#filEncoursText {
}
#infoSuppReg{
	font-size:70%;
	font-style:italic;
}