/* styles pour l'affichage de la pagination dans les tables */
.pagination {
font:12px Arial, Helvetica, sans-serif;
margin:40px 0;
text-align:center
}

.pagination a {
/*background:#fff;*/
border:1px solid gray;
margin:2px;
padding:.2em .4em;
text-decoration:none
}

.pagination a:hover {
/*background:#fff;*/
border:1px solid gray;
}

.pagination span.inactive_page {
/*background:#fff;*/
border:1px solid gray;
margin:2px;
padding:.2em .4em
}

.pagination span.active_page {
/*background:#f4ebff;*/
border:none;
font-weight:700;
margin:2px;
padding:.2em .4em
}
