pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }


#barreProgression
{
    background-color:#546370;
    height:20px;
}

.portionBarreProgression
{
    background-color:blue;
}

body {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 0.8em;
margin: 0;
padding: 0;
}

#header {
height: 100px;
}

#conteneur {
position: relative;
width: 750px;
margin: 0 auto; 
}

#centre {
margin-left: 300px;
}

#gauche {
position: absolute;
left:0;
width: 300px;
}

#gauche li
{
    list-style-type: none;
}

.block
{
border: solid 1px black ;  
width: 600px;

}

.titreBlock
{
font-weight: bold;
}

#selectionCampagnes table th
{
    font-size: 12px;
}

#selectionCampagnes
{
    height: 350px;
    overflow : scroll ;
    
    
}

#selectionTemporelle
{
    height: 250px;
    overflow : scroll ;
    
}

#selectionSystemesPechart
{
    top:0;
    margin-left: 250px;
    margin-top: -40px;
    
}

#selectionPays
{
    
    
}

#selectionSecteurs
{
    
    
}

#selectionAgglomerations
{
    
     margin-left: 250px;
     margin-top: -230px;
}

#selectionTemporelle table th
{
    font-size: 12px;
    
}

.formulaire table
{
    background-color:#272C3E;
  	margin-bottom: 10px;
  	border-spacing: 0px;
}

.formulaire th
{
  	background-color:#272C3E;
  	text-align: left;
  	font-size: 12px;
  	color: #ffffff;
  	border: 1px solid #ffffff;
}

.formulaire td
{
  	background-color:#ffffff;
  	text-align: left;
  	font-size: 10px;
}

div.titreFormulaire
{
  	text-align: center;
  	font-size: 14px;
  	margin-bottom: 10px;
}
